@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #383838;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #1f1f1f;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
  margin: 15;
}    

.container {
    text-align: center;
  }

  .circle.active {
    border-color: var(--line-border-fill);
  }

  .btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  padding: 10px 30px;
  margin: 12px;
  font-size: 12px;
}

.btn:active {
  transform: scale(0.90);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}  